.email
  .input
    width 100%
    border none
    height 55px
    outline none
    font-size 18px
    padding 0 20px
    border-radius 55px

  .sendButton
    width 85%
    height 60px
    outline none
    color #7f4156
    display block
    font-size 32px
    cursor pointer
    margin 15px auto
    border-radius 60px
    border 2px solid #fff
    transition all .25s ease
    background-color #fafafa
    font-family Shnobel, sans-serif

    &:hover
      color #fafafa
      border-color #7f4156
      background-color #7f4156
      transform scale(1.02)

    &:disabled
      opacity .5
      color #fafafa
      pointer-events none
      background-color transparent
