.shareContainer
  width 250px
  display flex
  margin 20px auto
  justify-content space-between

  .share
    width 50px
    height 50px
    cursor pointer
    border-radius 50%
    transition all .25s ease

    &:hover
      transform scale(1.1)

    &.vk
      background-image url("../assets/vk.svg")
      &:hover
        background-image url("../assets/vk_hover.svg")

    &.fb
      background-image url("../assets/facebook.svg")
      &:hover
        background-image url("../assets/fb_hover.svg")

    &.tw
      background-image url("../assets/tw.svg")
      &:hover
        background-image url("../assets/tw_hover.svg")

    &.ok
      background-image url("../assets/ok.svg")
      &:hover
        background-image url("../assets/ok_hover.svg")