@import "../node_modules/reset-css/reset.css"
@import "assets/fonts/shnobel.css"

*
  box-sizing border-box

.wrapper
  width 100vw
  height 100vh
  display flex
  align-items center
  justify-content center
  background-color #CD718E

  .logo
    top 20px
    left 20px
    width 32px
    height 32px
    display block
    position absolute
    background url("assets/logo.svg") no-repeat

  .content
    max-width 350px

    .title
      color #fafafa
      font-size 28px
      margin-top 30px
      line-height 32px
      text-align center
      font-family Shnobel

    .block
      color #fafafa
      margin-top 40px
      transition all .25s ease

      &_disabled
        opacity .5
        pointer-events none

      .header
        display flex
        align-items center
        margin-bottom 20px

        .number
          font-size 28px
          font-family Shnobel, sans-serif

        .text
          width 100%
          font-size 16px
          text-align center
          font-family Open Sans, sans-serif

    &.final
      width 100%
      height 100%
      display flex
      max-width unset
      align-items center
      justify-content center
      background url("assets/man.svg") no-repeat top

      .title
        font-size 42px


@media screen and (min-width: 768px)
  .wrapper
    .logo
      width 140px

@media screen and (min-width: 1024px)
  .wrapper
    background #CD718E url("assets/clouds.svg") no-repeat center
    background-size contain